.button {
    font-size: 14px;
    width: 100px;
    height: 50px;
}

#reset {
    width: 200px;
}
.counter {
    font-size: 40px;
    color: red;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
}